.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    list-style-type: none;
}